name: Building
on: [push, pull_request]

jobs:
  build:
    name: Building SCLAlertView
    runs-on: macos-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: 26.1

      - name: Install Project Tools
        uses: jdx/mise-action@v3
        with:
          experimental: true

      - name: Building iOS app
        run: exec ./.github/scripts/build_app.sh
